body{
    background-color: whitesmoke;
    margin: 0 auto;   

    text-align: center;
    font-family: sans-serif;
}

/*HOME*/

#house {
    background: url(link/background.png);
    background-repeat: no-repeat;

    background-position: 0 -700px;
    display: inline-block;
    position: relative;

    height: 700px;
    width: 1000px;
}

#home1 {
	background-color: #292929; 

	width: 1000px; 
	height: 350px; 
	position: relative;
}

.open1{
	-webkit-animation : home1 2s 1.5s linear forwards;

}

.open2{
	-webkit-animation : home2 2s 1.5s linear forwards;
}

#home2 {
	background-color: #292929; 

	width: 1000px; 
	height: 350px; 
	position: relative;
}

#start {
	width: 400px;
	height: 480px;

	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	position: absolute;

}

.animate  {
	-webkit-animation : play1 1s linear forwards;
}

#logo {
	width: 300;
	height: 192px;
}

#name {
	width: 100%;
	height: 30px;
	margin-top: 30px;
}


#presentation {
	color: white; 
	text-align: center;
	word-break: break-all;

	margin-top: 20px;
	line-height: 25px;
}

#good-luck {
	font-size: 20px; 
	font-weight: bold;
}

#play {
	font-size: 25px;
	color: white;

	padding: 15px;
	width: 50%;
	margin-top: 30px;

	border-radius: 5px;
	border: solid 2px white;
	background: none;
}

#play:hover{
	background-color: white;
	color: #fdb714;
}

/*ANIMATE*/

@-webkit-keyframes play1 {
	0% {opacity: 1;
		display: block;}
	10%{opacity: 0.9;}
	20%{opacity: 0.8;}
	30%{opacity: 0.7;}
	40%{opacity: 0.6;}
	50%{opacity: 0.5;}
	60%{opacity: 0.4;}
	70%{opacity: 0.3;}
	80%{opacity: 0.2;}
	90%{opacity: 0.1;}
	100% {
		display: none;
		opacity: 0;}
}

@-webkit-keyframes home1 {
	from{ top: 0;
		  display: block;}

	to{ top: -400px;
		display: none;}
}


@-webkit-keyframes home2 {
	from{
		bottom: 0; 
		display: inline-block;
	}

	to{
		bottom: -400px;
		display: none;
	}
}