body{
    background-color: whitesmoke;
    text-align: center;
    margin: 0 auto;
}


#house {
    background: url(link/background.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    background-position: 0 -700px;
    display: inline-block;
}
